.menu-super-mobile {
  z-index: 201;
  position: absolute;
  width: 100%;
  background-color: #f6f8f9;
  background: #f6f8f9;
  box-shadow: 0px 3px 6px #00000029;
  list-style-type: none;
}

.menu-super-mobile .item {
  display: flex;
  width: 100%;
}

.menu-super-mobile .main-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-super-mobile li.nav-item a.nav-link span {
  display: inline-block;
  width: auto;
  padding-right: 184px;
  font-size: 14px;
  color: #4b4b4b;
  font-weight: 600;
}

.encabezado-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 26px;
  width: 100%;
}

.encabezado-menu .close-btn {
  padding-right: 5%;
  color: #3366cc;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.menu-child-mobile {
  display: none;
  position: absolute;
  list-style: none;
  width: 100%;
  background: #f7f8f9;
  margin-top: 12%;
  margin-left: -7%;
  z-index: 230;
  padding-bottom: 32px;
  padding-left: 73px;
}

.menu-super-mobile .nav-item .main-item .icon-sub {
  color: #3d3935;
}

.show-caret {
  display: inline-block;
}

.hide-caret {
  display: none;
}