/*Variables globales para elementos del portal super sociedades*/

/*colores priamrios*/
$dark-blue: #2A477A;
$marine-color: #2b5597;

/*colores secudnarios*/
$green-color: #069169;
$light-blue-color: #A5C5ED;
$dark-gray-color: #3D3935;
$dark-silver-color: #858585;
$light-silver-color: #E5E1E6;

/*Alertas*/
$error-color: #A80521;
$orange-color: #F3561F;

/*Color botones*/
$active-color: #3366CC;
$line-boton-color: #FFFFFF;
$hover-color: $dark-blue;
$disabled-color: $light-silver-color;

/*color de fuentes*/
$white-font-color: #FFFFFF;
$marine-font-color: $active-color;
$silver-font-color: #E5E1E6;
$dark-gray-font-color: #3D3935;
$dark-blue-font-color: #2A477A;
$gray-font-color: #BDBDBD;

/*Tamaños de fuente*/
$button-font-size-14: 0.875rem;
$button-font-size-12: 0.75rem;
$card-font-size-16: 1rem;

