.d-none {
	display: none;
}

.collapsed {
	background: #2A477A;
}

.contendor-collapsable {
	padding: 1% 2% 1% 2%;
	text-align: left;
}

.titulo {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 19px;
	color: #ffff;
}

.titulo-info {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #2A477A;
	text-align: right;
}

.panel-group {
	max-width: 100% !important;
	width: 100% !important;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #e4e5e7;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.panel-default>.panel-heading a {
	display: block;
	padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
	content: "";
	color: #ffff;
	font-size: 16px;
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: right;
	transition: transform .25s linear;
	-webkit-transition: -webkit-transform .25s linear;
}

.panel-default {
	border-color: rgba(0, 0, 0, 0);
}

.panel-title {
	font-weight: 500;
	background: #2A477A;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
	content: "\2212";
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
	content: "\002b";
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.modal_button_yes {
	width: 92.28px;
	height: 35px;
	left: 15.49px;
	top: 209.09px;
	background: #3366CC;
	border-radius: 30px;
	color: #ffff;
	margin-top: 10px;
}

.modal_button_no {
	width: 92.28px;
	height: 35px;
	left: 15.49px;
	top: 209.09px;
	color: #ffff;
	background: #A80521;
	border-radius: 30px;
	margin-top: 10px;
}

.modal {
	display: none;
	height: 100%;
	left: 0;
	outline: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1050;
}

.modal-content {
	border-radius: 30px;
	overflow: visible;
}

.modal_contenido {
	border-top: none;
	overflow: visible;
}

.modal_title {
	font-size: 50px;
	line-height: 60px;
	font-weight: 700;
	color: #2266E2;
}

.modal_title--modifier {
	color: #F56B71;
}

.modal_description {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 15.488px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #2A477A;
}

.modal-open .modal {
	overflow: hidden !important;
}

.modal_button {
	background-color: #2266E2;
	color: white;
	height: 57px;
	border-radius: 50px;
	width: 250px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	margin-top: 55px !important;
	padding-bottom: 5px !important;
}

.modal_button:hover {
	color: white;
}

.modal_asset {
	top: -175px;
	margin-bottom: 10px;
	width: 100%;
}

.modal-dialog-centered.modal-dialog {
	align-items: center;
	display: flex;
	height: 220px;
	width: 240px;
}

@media ( max-width : 768px) {
	.modal_contenido {
		padding: 50px 20px 20px 20px;
	}
	.modal_title {
		font-size: 28px;
		line-height: 34px;
	}
	.modal_description {
		font-size: 16px;
		line-height: 20px;
	}
	.modal_button {
		margin-top: 40px !important;
	}
	.modal_asset img {
		width: 82px;
	}
	.modal_asset {
		top: -100px
	}
}