.superintendencia-sociedades-sgd-web {
}

.modal{
    display: none;
    margin: 0;
    overflow: hidden;
    position: fixed;
}

.modal-content {
    height: 350.55px;
    width: 560px;
    left: 403px;
    top: 8.5px;
    z-index: 1201;
}

.fuente-title{
    font-family: monserrat;
    font-weight: bold;
    font-size: 16px;
}

.rowhidden{
	display:none;
}

.rowcenter{
	text-align: center;
}

.mensajeElim{
	text-align: center;
}

.btn-block {
    width: 60% !important;
    margin-left: 50px;
}


.table-stile{
    font-family: work Sans;
    font-weight: normal;
    font-size: 14px;
}


.dataTables_wrapper {
    font-family: work Sans;
    font-weight: normal;
    font-size: 14px;
}



@font-face {
  font-family: 'iconmaster';
  src:  url('fonts/iconmaster.eot?a1rutx');
  src:  url('fonts/iconmaster.eot?a1rutx#iefix') format('embedded-opentype'),
    url('fonts/iconmaster.ttf?a1rutx') format('truetype'),
    url('fonts/iconmaster.woff?a1rutx') format('woff'),
    url('fonts/iconmaster.svg?a1rutx#iconmaster') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconmaster' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots-three-vertical:before {
  content: "\e900";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-git:before {
  content: "\eae7";
}
.icon-IcoMoon:before {
  content: "\eaea";
}



@media only screen and (max-width: 600px) {  
	.modal-content {
	    height: 460.55px;
	    width: 502px;
	    left: 80px;
	    top: 120.5px;
	}
	
	
	.modal-backdrop {
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1040;
	    width: 271vw !important;
	    height: 271vh !important;
	    background-color: #393A4A;
	}
}


@media only screen and (min-width: 600px) {

	.modal-content {
	    height: 400.55px;
	    width: 500px;
	    left: 140px;
	    top: 44.5px;
	    z-index: 1201;
	}
	
	.modal-backdrop {
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1040;
	    width: 151vw;
	    height: 150vh;
	    background-color: #393A4A;
	}

}


@media only screen and (min-width: 768px) {

	.modal-content {
	    height: 400.55px;
	    width: 570px;
	    left: 180px;
	    top: 30.5px;
	    z-index: 1201;
	}

}


@media only screen and (min-width: 992px) {
	.modal-content {
	    height: 400.55px;
	    width: 530px;
	    left: 250px;
	    top: 20.5px;
	    z-index: 1201;
	}
} 


@media only screen and (min-width: 1200px) {
	  .modal-content {
	    height: 350.55px;
	    width: 560px;
	    left: 403px;
	    top: 8.5px;
	    z-index: 1201;
	}
}

